#searchtwitch {
	margin: 20px;
	background-color: #1a1a1a;
	border: 1px solid white;
	border-radius: 20px;
	color: #23c1b2;
	height: 30px;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

#twitchsearch {
	background-color: #23c1b2;
	border-radius: 5px;
	color: white;
	font-family: 'Lato', sans-serif;
	height: 30px;
	border: transparent;
	width: 80px;
}

input:focus {outline: none;}