#searchtwitch {
	margin: 20px;
	background-color: #1a1a1a;
	border: 1px solid white;
	border-radius: 20px;
	color: #23c1b2;
	height: 30px;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

#twitchsearch {
	background-color: #23c1b2;
	border-radius: 5px;
	color: white;
	font-family: 'Lato', sans-serif;
	height: 30px;
	border: transparent;
	width: 80px;
}

input:focus {outline: none;}


.twitch-container {
	display: flex;
}

.reddit-container {
	display: flex;
	width: 35%;
	height: 100%;
	flex-direction: column;
}

.twitch-social {
	display: flex;
	flex-direction: column;
	width: 75%;
	height: 300px;
}


.reddit-social-display {
	align-self: flex-end;
	width: 100%;
	height: 300px;
	overflow-y: auto;
	margin-right: 8px;

}

.twitch-social-display {
	align-self: center;
	width: 100%;
	margin-left: 8px;

}


.twitch-social-list {

}





.twitch-stream-icons{
	width: 12px;
  height: 12px;

}

.twitch-video-container {
	display: flex;
}
.twitch-video-display {
	width: 100%;
}

.twitch-social-list-item {
	flex: 0 0 auto;
}


/*ICON BAR*/

.icon-bar {
	display: flex;
  width: 96%;
  overflow-x: auto;
}

.icon-bar span {
  transition: all 0.3s ease;
}

.icon-bar span:hover {
    background-color: #000;
}

.icon-bar-image {
	width: 64px;
}

.active {
    background-color: #4CAF50;
}
