html, body {
  margin: 0px;
  padding: 0px;
  /*font-family: 'Ubuntu', sans-serif;*/
  font-family: 'Roboto Mono', monospace;
  /*font-family: 'Lato', sans-serif;*/
  /*background-color: red;*/
}

.dashboard {
  width: 25%;
  height: 900px;
  background-color: #1a1a1a;
  display: inline-block;
  float: left;
  padding: 1%;
  z-index: 10;
  text-align: left;
  overflow: hidden;
  /*margin-top: -20px;*/
}

.homepage {
  width: 50%;
  height: 850px;
  background-color: white;
  display: inline-block;
  float: right;
  text-align: center;
}

.evehomepage {
  width: 50%;
  height: 850px;
  background-color: white;
  display: inline-block;
  float: right;
  text-align: center;
}

.gameonepage {
  width: 100%;
  height: 800px;
  background-color: white;
  display: inline-block;
  float: right;
}

.gametwopage {
  width: 100%;
  height: 800px;
  background-color: white;
  display: inline-block;
  float: right;
}

.gamethreepage {
  width: 100%;
  height: 800px;
  background-color: white;
  display: inline-block;
  float: right;
}

#pj {
  color: white;
}

.placeholderinstruction {
  margin-top: 40%;
  color: silver;
  font-weight: lighter;
  align-content: center;
  margin-left: -50%; 
}

.profilepic {
  width: 120px;
  height: 150px;
  border-radius: 5px;
  background-image: url('../../images/pp.jpg');
  background-size: 125%;
  display: inline-block;
  overflow: hidden;
  float: left;
  margin-bottom: 10px;
  margin-top: 5%;
}

#pjsub {
  list-style: none;
  font-size: 12px;
  text-align: left;
  /*margin-right: 10px;*/
  /*margin-left: 50%;*/
  margin-top: 20px;
  color: white;
}


.lineitem {
  margin-bottom: 15px;
  float: left;
  width: 200px;
  margin-left: -25px;
}

.lineitem:hover {
  cursor: pointer;
}

.game {
  width: 100%;
  height: 100px;
  border: 1px solid #1a1a1a;
  border-bottom-color: grey;
  /*border-radius: 10px;*/
  margin-top: 20%;
  font-weight: bolder;
  font-size: 20px;
  padding: 20px;
  transition: 0.4s;
  text-align: left;
  margin-left: -7%;
  color: red;
}

.game:hover {
  background-color: red;
  color: white;
  transition: 0.4s;
  cursor: pointer;
}

.gameonewidgets {
  width: 100%;
  color: #1a1a1a;
  /*border: 1px solid white;*/
  list-style: none;
  display: none;
}

.widgetgameone {
  width: 80%;
  height: 40px;
  border: 1px solid #1a1a1a;
  border-bottom-color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  /*display: none;*/
  /*margin: 10px;*/
  text-align: center;
  padding: 10px;
  color: red;
  transition: 1s;
}

.widgetgameone:hover {
  transition: 1s;
  background-color: white;
  cursor: pointer;
}

#gamearrone {
  color: white; 
  font-size: 16px;
  margin-left: 50%;
}

#gamearrtwo {
  color: white; 
  font-size: 16px;
  margin-left: 20%;
}

#gamearrthree {
  color: white; 
  font-size: 16px;
  margin-left: 38%;
}

.gametwowidgets {
  width: 100%;
  color: #1a1a1a;
  /*border: 1px solid white;*/
  list-style: none;
  display: none;
  color: red;
}

.widgetgametwo {
  width: 80%;
  height: 40px;
  border: 1px solid #1a1a1a;
  border-bottom-color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  /*display: none;*/
  text-align: center;
  padding: 10px;
  transition: 1s;
}

.widgetgametwo:hover {
  transition: 1s;
  background-color: white;
  cursor: pointer;
}

.gamethreewidgets {
  width: 100%;
  color: #1a1a1a;
  /*border: 1px solid white;*/
  list-style: none;
  display: none;
  color: red;
}

.widgetgamethree {
  width: 80%;
  height: 40px;
  border: 1px solid #1a1a1a;
  border-bottom-color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  /*display: none;*/
  text-align: center;
  padding: 10px;
  transition: 1s;
}

.widgetgamethree:hover {
  transition: 1s;
  background-color: white;
  cursor: pointer;
}


.widgettwo {
  width: 50%;
  height: 40px;
  border: 1px solid white;
  background-color: #1a1a1a;
  margin-top: 20px;
  display: none;
}

.widgetthree {
  width: 50%;
  height: 40px;
  border: 1px solid white;
  background-color: #1a1a1a;
  margin-top: 20px;
  display: none;
}

.backtogames {
  display: none;
  color: red;
}

.backtogames:hover {
  cursor: pointer;
}

.gameone:hover {
  cursor: pointer;
}

.gametwo:hover {
  cursor: pointer;
}

.gamethree:hover {
  cursor: pointer;
}





@media only screen and (max-width: 900px) {
  
  .game{
    font-size: 15px;
  }

}

.dashgames {
  list-style: none;
  margin-top: 50px;
  text-align: left;
}

#mainhr {
  width: 20%;
  border-color: color;
  border-width: 1px;
  transition: 0.4s;
}

/*#mainhr:hover {
  width: 50%;
  border-color: red;
  border-width: 1px;
  transition: 0.4s;
}
*/

#editpro {
  color: red;
}

#settings {
  color: red;
}

#logout {
  color: red;
}




